


MOCKUP_ASSET_ROOT=./public
MOCKUP_CACHE_DIR=./.cache/mockups
MOCKUP_DEFAULT_WIDTH=1200
MOCKUP_MAX_WIDTH=2400
MOCKUP_DEFAULT_FORMAT=webp
MOCKUP_WEBP_QUALITY=94
GEARMENT_IMPORT_LIMIT=40
MOCKUP_JPEG_QUALITY=90

X-Gearment-Client-Key=XCx57QB1VOXCD2
X-Gearment-Client-Secret=HHKdZG8dhHUx5GyexpkTXXlhOvlcjTGUydo6ZQ5CXsUpqUv3SyGgy7K2qBdWDdZh
